* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.FicheItem {
  max-width: 300px;
}

.FicheItem header {
  border: 1px solid black;
}

.FicheDePerso {
  max-width: 500px;
}

.FicheDePerso header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  padding-left: 20px;
  margin-bottom: 15px !important;
}

.FicheDePerso header .niveau {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: white;
}

.FicheDePerso header .niveau * {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding-top: 7px;
}

.FicheItem, .FicheDePerso {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

.FicheItem > *:not(h3), .FicheDePerso > *:not(h3) {
  margin: 5px;
  margin-bottom: 10px;
}

.FicheItem h3, .FicheDePerso h3 {
  padding-left: 20px;
}

.bandeauStats, header, .bandeauIdentite, .bandeauIdentite > *, .field {
  display: -ms-grid;
  display: grid;
}

/* ======================== */
.bandeauStats {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
}

.bandeauStats .field:first-of-type {
  margin-top: 0px;
}

.bandeauStats .field:last-of-type {
  margin-bottom: 0px;
}

.portrait {
  padding: 0;
  width: 200px;
}

.portrait .image {
  width: 150px;
  height: 195px;
  border: 1px solid red;
  margin: 0 auto;
}

.field:not(.stat) {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  margin: 9px 0;
}

.stat.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #787482;
  color: white;
  height: 30px;
  margin: 9px 0;
}

.stat.field > * {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
}

.logo {
  border: 1px solid red;
  height: 58px;
  width: 58px;
}

.num {
  position: relative;
  width: 50px;
  height: 100%;
  background: #4a4750;
  color: white;
}

.num::before {
  position: absolute;
  left: -10px;
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 100% 100%, 100% 0);
  height: 100%;
  width: 10px;
  background: #4a4750;
  content: '';
}

/* ======================== */
.bandeauIdentite {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
}

.bandeauIdentite > * {
  place-items: center;
  padding: 0 5px;
}

.bl {
  border-left: 1px solid black;
}

/* ======================== */
.item {
  border: 1px solid black;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
}

@media (max-width: 238px) {
  .bandeauStats {
    display: block;
  }
  .portrait {
    width: 100%;
  }
}

.life {
  width: 100%;
  height: 20px;
  border: 1px solid #273444;
  background-color: #273444;
}

.life .bar {
  width: 50%;
  height: 100%;
  background: #00e803;
  background: -webkit-gradient(linear, left top, right top, from(#00e803), color-stop(78%, #9dff05), to(white));
  background: linear-gradient(90deg, #00e803 0%, #9dff05 78%, white 100%);
}
/*# sourceMappingURL=style.css.map */