script(src="/socket.io/socket.io.js")
script(src="/javascripts/jquery.min.js")
script(src="/javascripts/socket.io.js")
script(src="/javascripts/io.js")
script(src="/javascripts/bootstrap/bootstrap.js")
script(src="/javascripts/pages.js")
script(src="/javascripts/script.js")
script(src="/javascripts/fdp.js")

//- script(src="/javascripts/user.js")
//- script(src="/javascripts/fdp.js")
//- script(src="/javascripts/admin_user.js")
//- script(src="/javascripts/simple_user.js")
//- script(src="/javascripts/sign/up.js")
//- script(src="/javascripts/sign/in.js")