*{ box-sizing: border-box; }
.FicheItem{ 
    max-width: 300px; 
    
    header{
        border: 1px solid black;  
    }
    
}
.FicheDePerso{ 
    width: 450px;
    header{
        display: flex;
        justify-content: space-between;
        
        height: 80px;
        padding-left: 20px;
        margin-bottom: 15px !important;

        .niveau{
            border-radius: 50%;
            height: 80px; width: 80px;
            background: white;
            * {
                margin: auto;
                width: max-content;
                display: block;
                padding-top: 7px;
            }
        }
    }

}



.FicheItem,.FicheDePerso{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    &>*:not(h3){
        margin: 5px;
        margin-bottom: 10px;
    }
    h3{
        padding-left: 20px;
    }
}



.bandeauStats,header,.bandeauIdentite,.bandeauIdentite>*,.field{
    display: grid;
}

/* ======================== */

.bandeauStats{
    grid-template-columns: auto 1fr;
    .field{
        &:first-of-type{margin-top: 0px;}
        &:last-of-type{margin-bottom: 0px;}
    }
}

.portrait{
    padding: 0;
    width: 200px;
    .image{
        width: 150px; height: 195px;
        border: 1px solid red;
        margin: 0 auto;
    }
}



.field:not(.stat){
    grid-template-columns: auto 1fr;
    margin: 9px 0;
}

.stat.field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #787482;
    color: white;
    height: 30px;
    margin: 9px 0;

    &>*{
        margin:0;
        display: flex;
        align-items: center;
        padding-left: 15px;
      }
}



.logo{
    border: 1px solid red;
    height: 58px; width: 58px;
}

.num{
    position: relative;
    width: 50px; height: 100%;
    background: #4a4750;
    color: white;

    &::before{
        position: absolute;
        left: -10px;
        
        clip-path: polygon(0 0, 100% 100%, 100% 0);
        height: 100%; width: 10px;
        
        background: #4a4750;
        content: '';
      }
}

/* ======================== */

.bandeauIdentite{
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
}
.bandeauIdentite>*{
    place-items: center;
    padding: 0 5px;
}

.bl{ border-left: 1px solid black;}

/* ======================== */


.item{
    border: 1px solid black;
}

.name{
    display: flex;
    align-items: center;
    padding-left: 10px;
}


@media (max-width: 238px) {
  .bandeauStats {
      display: block;
  }
  .portrait {
      width: 100%;
  }
}

.life {
    width : 100%;
    height : 20px;
    border: 1px solid #273444   ;
    background-color: #273444   ;
    .bar {
        width: 50%;
        height: 100%;
        background: rgb(0,232,3);
        background: linear-gradient(90deg, rgba(0,232,3,1) 0%, rgba(157,255,5,1) 78%, rgba(255,255,255,1) 100%); 
    }
}